.image-slider-container {
    position: relative;
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 55px 54px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: none;
}

.slide.active {
    display: block;
}

.slide img {
    width: 100%;
    height: 500px;
    display: block;
}

.main-slider-nav {
    position: absolute;
    top: 150%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease
}

.main-slider-nav:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.main-slider-nav.prev {
    left: 15px;
}

.main-slider-nav.next {
    right: 15px;

}

.main-slider-dots {
    position: absolute;
    bottom: 15px;
    top: 183%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 10;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: white;
}